{% if app.request.pathInfo != '/_fragment' -%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HTTP Caching Sandbox{% endblock %}</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}"></link>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <p><a href="{{ app.request.uri }}">Link to this page</a></p>
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% else %}
    {{ block('body') }}
{% endif %}
