{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ app.request.get('name') }}</h1>

    {{ render_esi(controller('App\\Controller\\CacheDemoController::timeAction')) }}
    {{ render_esi(controller('App\\Controller\\CacheDemoController::weekdayAction')) }}
{% endblock %}
