{% extends 'base.html.twig' %}

{% block body %}
    <h1>Headers in your request that matter for caching</h1>
    <table style="font-family: monospace">
        {# Works around https://github.com/symfony/symfony/pull/34385 #}
        {% for name in ['Cache-Control', 'Pragma', 'If-None-Match', 'If-Modified-Since'] if app.request.headers.has(name) and app.request.headers.get(name) %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ app.request.headers.get(name) }}</td>
            </tr>
        {% else %}
            <tr><td>No caching-related headers were set.</td></tr>
        {% endfor %}
    </table>
{% endblock %}
