{% extends 'base.html.twig' %}

{% block body %}
    <h1>Response generated at {{ date() | date('H:i:s') }}<br/>
    <script>
        document.write("Page displayed at " + (new Date()).toLocaleTimeString());
    </script></h1>
{% endblock %}
